/* (0-575) 1rem=*/
@media screen and (max-width: 575px) {
    .container {
        max-width: 100%;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.67%;
    }

    .col-3 {
        width: 25.00%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.67%;
    }

    .col-6 {
        width: 50.00%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.67%;
    }

    .col-9 {
        width: 75.00%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.67%;
    }

    .col-12 {
        width: 100.00%;
    }

    .about-data .work {
        padding-right: 0;

    }

    .about-data .vision {
        padding: 0;
    }

    .about-data .mission {
        padding-left: 0;
    }

    .founder-data img {
        padding-right: 0;
    }

    .founder-data img {
        height: 400px;
        border-radius: 4rem 0;
    }

    .popular {
        justify-content: center;
        text-align: center;
    }

    .tips-img img {
        height: 45rem;
    }

    .tips {
        padding-right: 0;
    }

    .tips-data {
        padding-right: 2rem;
    }

    .price-title {
        width: 30rem;
        margin: 0 auto;
    }


    .contect-form {
        margin-right: 0;
    }

    .btns {
        justify-content: center;
        flex-wrap: wrap;
    }

    .email {
        width: 80%;
    }

    .title-btn {
        margin-left: 0;
    }


    .tr-1 ul li {
        font-size: 17px;
    }

    .tr-0 img {
        width: 16rem;
    }

    #hero {
        height: 77vh;
    }

    .form-data {
        max-width: 80%;
        flex-direction: row;
        border-radius: 0.5rem;
    }

    .journy-data {
        top: 2rem;
    }
    header nav>ul>li {
        margin: 0 0.3rem;
    
    }
    
    .journy-data h1 {
        font-size: 4rem !important;
        line-height: 4rem;
        padding-top: 2rem;
    }

    .journy-data p {
        max-width: 40rem;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    
}

@media screen and (max-width: 991px) {
    #to-menu {
        display: block;
        position: fixed;
        top: 0;
        right: -60%;
      
        width: 90%;
        background-color: #241c15;
        transition: all 1s;
    }

    .pa-list,
    .pi-list {
        position: relative;
        top: 0;
        left: 0;
    }

    header nav>ul li:hover .pi-list {
        display:block;
    }

    .showhide {
        right: 0 !important;
    }

    header .fa-bars,
    header .fa-xmark {
        display: inline-block;
    }
    .journy-data h1 {
        font-size: 2rem;
        
    }

    .journy-data p { 
        max-width: 25rem;
        font-size: 1rem;
        margin-top: 2.6rem;
    }
    .form-data {
        max-width: 100%;
        flex-direction: row;
        border-radius: 0.5rem;
    }

    .form-data select {
        font-size: 0.6rem;
        padding: 0rem !important;
    }

    .common-btn {
        font-size: 0.7rem;
        padding: 0.4rem 1rem;
    
    }
}

/* (576-767) sm */
@media screen and (min-width: 576px) {
    .container {
        max-width: 54rem;
    }

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.67%;
    }

    .col-sm-3 {
        width: 25.00%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.67%;
    }

    .col-sm-6 {
        width: 50.00%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.67%;
    }

    .col-sm-9 {
        width: 75.00%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.67%;
    }

    .col-sm-12 {
        width: 100.00%;
    }

    .about-data .work {
        padding-right: 0;

    }

    .about-data .vision {
        padding: 0;
    }

    .about-data .mission {
        padding-left: 0;
    }

    .founder-data img {
        padding-right: 0;
    }

    .popular {
        justify-content: center;
        text-align: center;
    }

    .tips-img img {
        height: 67rem;
    }

    .tips {
        padding-right: 0;
    }

    .tips-data {
        padding-right: 2rem;
    }

    .price-title {
        width: 55rem;
    }


    .contect-form {
        margin-right: 0;
    }

    .btns {
        width: 80%;
    }

    .title-btn {
        margin-left: 5rem;
    }


    .tr-1 ul li {
        font-size: 17px;
    }

    .tr-0 img {
        width: 16rem;
    }


    .form-data {
        width: 80%;
    }

    .form-data {
        flex-direction: column;
        max-width: 42rem;
        border-radius: 1rem;
    }
    header nav>ul>li {
        margin: 0 0.9rem;
    
    }

    .journy-data h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .form-data select {
        font-size: 1.8rem;
        padding: 1rem;
    }
    .common-btn {
        font-size: 1.8rem;
        padding: 2rem 2rem;
    
    }

    .journy-data p {
        margin-top: 1rem;
    }
}

/* (768-991) md */
@media screen and (min-width: 768px) {
    .container {
        max-width: 72rem;
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.67%;
    }

    .col-md-3 {
        width: 25.00%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.67%;
    }

    .col-md-6 {
        width: 50.00%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.67%;
    }

    .col-md-9 {
        width: 75.00%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.67%;
    }

    .col-md-12 {
        width: 100.00%;
    }

    .about-data .work {
        padding-right: 2.8rem;

    }

    .about-data .vision {
        padding: 2.8rem;
    }

    .about-data .mission {
        padding-left: 2.8rem;
    }

    .founder-data img {
        padding-right: 0;
    }

    .tips-data {
        padding-right: 2rem;
    }

    .price-title {
        width: 65rem;
    }

    .btns {
        width: 100%;
    }

    .title-btn {
        margin-left: 26rem;
    }

    .tr-0 img {
        width: 16rem;
    }

    .form-data {
        max-width: 72rem;
        flex-direction: column;
        border-radius: 1.2rem;
    }

    header nav>ul>li {
        margin: 0 0.9rem;
    
    }

    .journy-data h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

}

/* (992-1199) lg */
@media screen and (min-width: 992px) {
    .container {
        max-width: 96rem;
    }

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.67%;
    }

    .col-lg-3 {
        width: 25.00%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.67%;
    }

    .col-lg-6 {
        width: 50.00%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.67%;
    }

    .col-lg-9 {
        width: 75.00%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.67%;
    }

    .col-lg-12 {
        width: 100.00%;
    }

    .about-data .work {
        padding-right: 2.8rem;

    }

    .about-data .vision {
        padding: 2.8rem;
    }

    .about-data .mission {
        padding-left: 2.8rem;
    }

    .founder-data img {
        padding-right: 9rem;
    }

    .tips-data {
        padding-right: 2rem;
    }

    .price-title {
        width: 65rem;
    }

    .contect-form {
        margin-right: 0px;
    }


    .tr-0 img {
        width: 22rem;
    }
    header nav>ul>li {
        margin: 0 0.9rem;
    
    }


}

/* (1200-1399) xl */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 114rem;
    }

    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.67%;
    }

    .col-xl-3 {
        width: 25.00%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.67%;
    }

    .col-xl-6 {
        width: 50.00%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.67%;
    }

    .col-xl-9 {
        width: 75.00%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.67%;
    }

    .col-xl-12 {
        width: 100.00%;
    }

    .about-data .work {
        padding-right: 2.8rem;

    }

    .about-data .vision {
        padding: 2.8rem;
    }

    .about-data .mission {
        padding-left: 2.8rem;
    }

    .founder-data img {
        padding-right: 130px;
    }

    .popular {
        justify-content: space-between;
        text-align: left;
    }

    .tips {
        padding-right: 5rem;
    }

    .tips-data {
        padding-right: 0;
    }

    .contect-form {
        margin-right: 50px;
    }

    .tr-1 {
        padding-left: 0;
    }


    .tr-0 img {
        width: 27rem;
    }

    #hero {
        height: 100vh;
    }

    header nav>ul>li {
        position: relative;
        margin: 0 2.3rem;
    
    }
    .journy-data h1 {
        font-size: 9rem;
        line-height: 9rem !important;
    }
    .journy-data p {
        margin-top: 1.6rem;
    }
}

/* (1400-any) xxl  */
@media screen and (min-width: 1400px) {
    .container {
        max-width: 132rem;
    }

    .col-xxl-1 {
        width: 8.33%;
    }

    .col-xxl-2 {
        width: 16.67%;
    }

    .col-xxl-3 {
        width: 25.00%;
    }

    .col-xxl-4 {
        width: 33.33%;
    }

    .col-xxl-5 {
        width: 41.67%;
    }

    .col-xxl-6 {
        width: 50.00%;
    }

    .col-xxl-7 {
        width: 58.33%;
    }

    .col-xxl-8 {
        width: 66.67%;
    }

    .col-xxl-9 {
        width: 75.00%;
    }

    .col-xxl-10 {
        width: 83.33%;
    }

    .col-xxl-11 {
        width: 91.67%;
    }

    .col-xxl-12 {
        width: 100.00%;
    }

    .about-data .work {
        padding-right: 2.8rem;

    }

    .about-data .vision {
        padding: 2.8rem;
    }

    .about-data .mission {
        padding-left: 2.8rem;
    }

    .tr-1 ul li {
        font-size: 18px;
    }
    .journy-data h1 {
        font-size: 9rem;
        line-height: 10rem !important;
    }
    .journy-data p { 
        max-width: 50rem;
        font-size: 1.8rem;
        margin-top: 3.6rem;
    }
    .form-data {
        max-width: 100rem;
        flex-direction: column;
        border-radius: 0.2rem;
    }
    .journy-data p {
        margin-top: 3.6rem;
    }
    
} 